.pageheader {
    display: flex;
    gap: 30px;
    &__link {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:  grey;
        border-radius: 50%;
        transition: color 0.2s;
        &:hover  {
            color: goldenrod;
        }
    }
    
    &__title {
        color: white;
    }
    hr {
        margin-top: 5px;
        height: 1px;
        color: white;
    }
}
