
.chatPreview {
    height: 70px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #E2634E;
    }

    &__name {
        font-size: 15px;
        color: white;
    }

    &__status {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
    }

    &:hover {
        background-color: #2B2B2B;
    }

    &__addBtn {
        padding: 5px 10px;
        background-color: greenyellow;
        border-radius: 10px;
        border: none;
        color: black;
        cursor: pointer;
        &:hover {
            background-color: rgb(123, 182, 34);
        }
    }
}

.status-online {
    background-color: rgb(120, 255, 62);
    // box-shadow: 1px 1px 10px 8px rgba(12, 255, 0, 0.2);
}


.animation-write {
    animation: animatedgradient 0.6s ease alternate infinite;
}

@keyframes animatedgradient {
	0% {
		box-shadow: 1px 1px 22px 4px rgb(200, 255, 0);
	}
    // 25% {
	// 	box-shadow: 1px 1px 22px 4px rgb(151, 193, 0);
    // }
	// 75% {
	// 	box-shadow: 1px 1px 22px 4px rgb(93, 119, 0);
	// }
	100% {
		box-shadow: 1px 1px 22px 4px rgb(0, 0, 0);
	}
}




.status-offline {
    background-color: gray;
}