.friendsPage {
    height: 100%;
    
    &__wrapper {
        padding: 10px;
        height: 100%;
        hr {
            margin-top: 5px;
            height: 1px;
            color: white;
        }
    }

    &__header {
        display: flex;
        gap: 30px;
        color: white;
    }
    &__back {

    }

    &__empty {
        height: 100%;
        color: #9e9e9e;
        display: flex;
        font-size: 36px;
        align-items: center;
        justify-content: center;
    }

}
